<div class="footer section">

  <style>
    .footer {
      color: var(--on-surface-variant);
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      border-block-start: 1px solid var(--outline-variant);
      padding-block-start: var(--space-4);
      gap: var(--space-3);
    }

    .social-link:where(:hover, :focus-visible) {text-decoration: underline;}

    .footer-text {opacity: 0.8;}
  </style>

  <div class="has-separator">

    <a href="https://github.com/Cristianmtz-lab" target="_blank" class="social-link">GitHub</a>
    <div class="separator"></div>

    <a href="https://www.instagram.com/cristianmtzb/" target="_blank" class="social-link">Instagram</a>
    <div class="separator"></div>

    <a href="https://x.com/crija19" target="_blank" class="social-link">X</a>
    <div class="separator"></div>

    <a href="#" target="_blank" class="social-link">Linkedin</a>
    <div class="separator"></div>

  </div>

  <p class="footer-text body-medium">
    &copy; 2025 cloneSpotify. Developed by Cristian Martinez
  </p>

</div>